.dashboard-layout {
  display: grid;
  grid-template-columns: 260px 1fr 300px;
  grid-template-rows: auto 1fr auto;

  min-height: 100vh;

  gap: 16px;
  padding: 16px;
}

.navbar {
  grid-column: 1/4;
}
.sidebar {
  grid-column: 1;
}

.chart {
  grid-column: 2;
}

.statisctics {
  grid-column: 3;
}

.table {
  grid-column: 1/4;
}
